APP_NAME=FoneNinja
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=fone_ninja
DB_USERNAME=fone_ninja
DB_PASSWORD=secret
